git+https://github.com/yeger00/pylspclient.git # pypi does not holds the newest version
python-lsp-server>=1.8.2
jedi>=0.19.1
returns>=0.16.1
jsonlines>=4.0.0
tree-sitter==0.0.6
tqdm>=4.64.1
types-tree-sitter
pygithub
pytest
astor
jedi
fire
python-Levenshtein
fuzzywuzzy
cytoolz