git+https://github.com/yeger00/pylspclient.git@bd58ae7ee5773fd3b4df8c28480a8df9279cd59a # use older version to avoid conflict with sansio-lsp-server
python-lsp-server>=1.8.2
jedi>=0.19.1
returns[compatible-mypy]
jsonlines>=4.0.0
tree-sitter==0.20.1
tqdm>=4.64.1
lambdas>=0.2.0
sansio-lsp-client==0.10.0
pygithub
pytest
astor
jedi
fire
python-Levenshtein
fuzzywuzzy
cytoolz
orjson
pathos
funcy
funcy_chain